.filterBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2rem;
  padding-left: 2.5rem;
}

@media screen and (max-width: 650px) {
  .numProjects, .filterBox {
    padding-left: 0;
  }
}