.profileImage {
  float: left;
  width: 250px;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 15px;
  background-color: black;
}

.clearFix::after {
  clear: both;
  display: table;
  content: "";
}

.techList {
  display: flex;
}

.techList ul {
  margin-top: 0;
}

li {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 650px) {
  .profileImage {
    width: 100%;
  }
  ul {
    padding-left: 1rem;
  }
}