/* Sticky Footer */

html, body, #root, .App {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsl(240, 76%, 13%);
  background-color: whitesmoke;
}

section h1, section h3, section h4, section h5, h1.Title, h3.Subtitle, h4.navBrand {
  font-family: 'Merriweather';
}

section h3 {
  background-color: rgba(173, 216, 230, 0.2);
  padding: 0.5rem;
}

/* Sticky Footer */

.App {
  display: flex;
  flex-direction: column;
}

/* Sticky Footer */

.Content {
  flex: 1 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Sticky Footer */

.Footer {
  width: 100%;
  display: relative;
  flex-shrink: 0;
  z-index: 10;
}

@media screen and (max-width: 650px) {
  div.MuiContainer-root {
    padding-left: 0;
    padding-right: 0;
  }
  .Content {
    padding-top: 0;
    padding-bottom: 0;
  }
  p {
    text-align: justify;
  }
}