.appBar {
  width: 100%;
}

.toolbar {
  background: linear-gradient(to right, hsl(240, 76%, 13%), hsl(240, 76%, 20%));
}

.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav {
  margin-left: auto;
}

.navBrand {
  display: inline-block;
  font-family: 'Merriweather', serif;
  font-size: 22px;
  color: #99bbee;
  text-shadow: whitesmoke 1px 1px -1px;
}

.navLink {
  color: #99bbee;
  display: inline-block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  opacity: 0.7;
}

.navLink.active {
  opacity: 1;
}

.navLink:hover {
  opacity: 1;
}

ul.mobileList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mobileTitle {
  color: hsl(240, 76%, 13%);
  background-color: #99bbee;
  opacity: 1;
  border-top: 1px solid lightgray;
  display: inline-block;
  padding: 1rem 2.5rem;
}

.mobileLink {
  color: #333;
  display: inline-block;
  padding: 1rem 2.5rem;
  text-decoration: none;
  opacity: 0.8;
  border-top: 1px solid lightgray;
}

.mobileLink:last-child {
  border-bottom: 1px solid lightgray;
}

.mobileLink:hover {
  color: black;
  opacity: 1;
}

@media screen and (max-width: 700px) {
  .navContainer {
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  nav {
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}